//- @fileoverview This file contain the pug code for the layout of the Calories Manager App. It provides a basic structure for the HTML pages of the app.
//-
//- @author Maor Bezalel
//- @author Itzhak Yakubov

doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Calories Manager App
    //- link(rel="stylesheet", href="styles.css")
    style
      | body {
      |   font-family: Arial, sans-serif;
      |   color: #333;
      |   margin: 0;
      |   padding: 0;
      | }
      | h1 {
      |   font-size: 2.5em;
      |   font-weight: bold;
      |   text-align: center;
      |   margin-bottom: 20px;
      | }
      | h2 {
      |   font-size: 1.8em;
      |   font-weight: bold;
      |   margin-bottom: 10px;
      | }
      | h3 {
      |   font-size: 1.4em;
      |   font-weight: bold;
      |   margin-bottom: 5px;
      | }
      | ul {
      |   list-style-type: disc;
      |   margin-left: 20px;
      |   margin-bottom: 20px;
      | }
      | li {
      |   margin-bottom: 10px;
      | }
  body
    header
      h1 Calories Manager App
    main
      block content
