//- @fileoverview This file contains the pug code for the layout of the App.
//-               The layout contains the main structure of the app, including
//-               the header and the main content.
//-
//- @author Maor Bezalel
//- @author Itzhak Yakubov

doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/styles.css")
    title Calories Manager App
  body
    header
      h1 Calories Manager App
    main
      block content
