doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Calories Manager App
    link(rel="stylesheet", href="styles.css")
  body
    header
      h1 Calories Manager App
    main
      block content
    footer
      p © 2022 Calories Manager App
    script(src="script.js")
